
<form action="answer" class="flex">
  <div>
    <h1 class="text-center">Ask Your Question to Coach</h1>
    <input class="form-control" type='text' name='question'>
    <input class="form-control btn btn-primary" type='submit' value="Ask">
  </div>
</form>




