// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
}

.response {
  display:flex;
  align-items: center;

  p {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
  }

  .empty{
    margin: 20% auto;
  }
}

